 .add {
        background-color: #f5f6f7;
        width: 95%;
        margin: 50px auto;
        padding: 20px;
        
      }
      .fa {
        cursor: pointer;
      }
      .btn_add {
        display: block;
        margin-left: auto;
        padding: 14px 40px;
        border-radius: 10px;
        background-color: #ffaa0a;
        border: none;
        margin-right: 0;
        cursor: pointer;
      }
      #table_container {
        background-color: #f5f6f7;
        width: 95%;
        margin: 50px auto;
        padding: 10px;
      }
      #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 90%;
        margin: 50px auto;
      }

      #customers td,
      #customers th {
        border-top: 2px solid #ddd;
        padding: 20px;
        text-align: center;
      }

      #customers tr:hover {
        background-color: #ddd;
      }

      #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        color: black;
      }
      .valide {
        background-color: #5be881;
        border-radius: 20px;
        padding: 10px 41px 10px 41px;
      }
      .rejected {
        background-color: #ff0000;
        border-radius: 20px;
        padding: 10px 41px 10px 41px;
      }
      .on-validation {
        background-color: #fdb64d;
        border-radius: 20px;
        padding: 10px 22px 10px 22px;
      }

      /* The Modal (background) */
      .modal {
        display: none; 
        position: fixed; 
        z-index: 1; 
        padding-top: 100px; 
        left: 251px;
        top: 0;
        width: 70%; 
        height: 100%; 
        overflow: auto; 
     
      }

      /* Modal Content */
      .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
      }

      /* Add Animation */
      @-webkit-keyframes animatetop {
        from {
          top: -300px;
          opacity: 0;
        }
        to {
          top: 0;
          opacity: 1;
        }
      }

      @keyframes animatetop {
        from {
          top: -300px;
          opacity: 0;
        }
        to {
          top: 0;
          opacity: 1;
        }
      }

      /* The Close Button */
      .close {
        color: black;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }

      .modal-header {
        padding: 2px 16px;
        
        color: black;
      }

      .modal-body {
        padding: 2px 16px;
      }

      .modal-footer {
        padding: 2px 16px;
       
      }
      #errorMessage {
        color: red;
      }
      input[type=text],input[type=date]{
        width: 290px;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
       border: 1px solid #d6d4d4;
       border-radius: 5px;
       
      }
      select{
        width: 290px;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
       border: 1px solid #d6d4d4;
       border-radius: 5px;
       
      }
      label{
        margin:0 0 3px 0;
        padding:0px;
        display:block;
        
      }
      .secOne {
        display: flex;
        justify-content: space-around;
      }
      .secTwo {
        display: flex;
        justify-content: flex-start;
        margin-left: 30px
      }
      .devSecTwo {
        margin-left: 53px
      }
      .secThree {
        margin-left: 30px
      }
      